@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 24 95% 53%;
    --primary-foreground: 0 0% 98%;

    --secondary: 24 10% 96%;
    --secondary-foreground: 24 5% 11%;

    --muted: 24 5% 96%;
    --muted-foreground: 24 5% 45%;

    --accent: 24 10% 96%;
    --accent-foreground: 24 5% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 24 5% 90%;
    --input: 24 5% 90%;
    --ring: 24 95% 53%;

    --radius: 0.5rem;

    /* Docs Theme */
    --fd-background: 0 0% 100%;
    --fd-foreground: 24 95% 53%;
    --fd-muted: 24 10% 96%;
    --fd-muted-foreground: 24 5% 45%;
    --fd-card: 0 0% 100%;
    --fd-card-foreground: 240 10% 3.9%;
    --fd-popover: 0 0% 100%;
    --fd-popover-foreground: 240 10% 3.9%;
    --fd-border: 24 5% 90%;
    --fd-input: 24 5% 90%;
    --fd-primary: 24 95% 53%;
    --fd-primary-foreground: 0 0% 98%;
    --fd-secondary: 24 10% 96%;
    --fd-secondary-foreground: 24 5% 11%;
    --fd-accent: 24 10% 96%;
    --fd-accent-foreground: 24 5% 11%;
    --fd-destructive: 0 84.2% 60.2%;
    --fd-destructive-foreground: 0 0% 98%;
    --fd-ring: 24 95% 53%;
    --fd-radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 24 95% 53%;
    --primary-foreground: 0 0% 98%;

    --secondary: 24 5% 11%;
    --secondary-foreground: 24 5% 96%;

    --muted: 24 5% 11%;
    --muted-foreground: 24 5% 65%;

    --accent: 24 5% 11%;
    --accent-foreground: 24 5% 96%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 24 5% 15%;
    --input: 24 5% 15%;
    --ring: 24 95% 53%;

    /* Docs Theme */
    --fd-background: 240 10% 3.9%;
    --fd-foreground: 24 95% 53%;
    --fd-muted: 24 5% 11%;
    --fd-muted-foreground: 24 5% 65%;
    --fd-card: 240 10% 3.9%;
    --fd-card-foreground: 0 0% 98%;
    --fd-popover: 240 10% 3.9%;
    --fd-popover-foreground: 0 0% 98%;
    --fd-border: 24 5% 15%;
    --fd-input: 24 5% 15%;
    --fd-primary: 24 95% 53%;
    --fd-primary-foreground: 0 0% 98%;
    --fd-secondary: 24 5% 11%;
    --fd-secondary-foreground: 24 5% 96%;
    --fd-accent: 24 5% 11%;
    --fd-accent-foreground: 24 5% 96%;
    --fd-destructive: 0 62.8% 30.6%;
    --fd-destructive-foreground: 0 0% 98%;
    --fd-ring: 24 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-cal;
  }
  body {
    @apply bg-background font-inter text-foreground;
  }
}

.prose :where(code):not(:where([class~='not-prose'] *)) {
  @apply rounded-md bg-muted px-1.5 py-0.5 font-mono text-sm text-muted-foreground;
}
